@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .linearGradientCustom {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }
}

.todoCheckBox {
  appearance: none !important;
  position: relative;
}

.circle {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.circle:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

input:checked ~ .circle:after {
  display: block;
}
